        .body {
            margin: 0;
        }

        span{
            color:rgb(56, 114, 56);
        }
        
        .card{
            width: 500px;
            height: fit-content;
            background-color: aliceblue;
            border-radius: 25px;
            border: solid 5px #022419 ;
        }

        .boximage {
            width: 100px;
            height: 100px;
            background-color: #022419;
            border: 1px solid #022419;
            border-radius: 50px;
            margin: auto;
        }

        .estiloH1 {
            font-family: monospace,sans-serif;
            font-size: 30px
        }

        .estilop {
            color: #224d28;
        }